/Tools/SVN/.vs/SVN/v16/*.suo
/Tools/SVN/*.sln
/Tools/SVN/SVN/*.csproj
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.json
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.dll
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.exe
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.cs
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.cache
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.txt
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.dll
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.exe
/Tools/SVN/SVN/obj/*.json
/Tools/SVN/SVN/obj/*.props
/Tools/SVN/SVN/obj/*.targets
/Tools/SVN/SVN/obj/*.cache
/Tools/SVN/.vs/SVN/DesignTimeBuild/*.v2
/Tools/ExcelExporter/.vs/ExcelExporter/v16/*.suo
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.cs
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.cache
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.resources
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.txt
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporter/obj/*.json
/Tools/ExcelExporter/obj/*.props
/Tools/ExcelExporter/obj/*.targets
/Tools/ExcelExporter/obj/*.cache
/Tools/SVN/bin/Debug/netcoreapp3.1/*.json
/Tools/SVN/bin/Debug/netcoreapp3.1/*.dll
/Tools/SVN/bin/Debug/netcoreapp3.1/*.exe
/Tools/SVN/bin/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Debug/netcoreapp3.1/*.cs
/Tools/SVN/obj/Debug/netcoreapp3.1/*.cache
/Tools/SVN/obj/Debug/netcoreapp3.1/*.txt
/Tools/SVN/obj/Debug/netcoreapp3.1/*.dll
/Tools/SVN/obj/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Debug/netcoreapp3.1/*.exe
/Tools/SVN/obj/*.json
/Tools/SVN/obj/*.props
/Tools/SVN/obj/*.targets
/Tools/SVN/obj/*.cache
/Tools/ExcelExporter/.vs/ExcelExporter/DesignTimeBuild/*.v2
/Tools/SVN/bin/Release/netcoreapp3.1/*.json
/Tools/SVN/bin/Release/netcoreapp3.1/*.dll
/Tools/SVN/bin/Release/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Release/netcoreapp3.1/*.cs
/Tools/SVN/obj/Release/netcoreapp3.1/*.cache
/Tools/SVN/obj/Release/netcoreapp3.1/*.txt
/Tools/SVN/obj/Release/netcoreapp3.1/*.dll
/Tools/SVN/obj/Release/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.CopyComplete
