/Tools/SVN/.vs/SVN/v16/*.suo
/Tools/SVN/*.sln
/Tools/SVN/SVN/*.csproj
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.json
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.dll
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.exe
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.cs
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.cache
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.txt
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.dll
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.exe
/Tools/SVN/SVN/obj/*.json
/Tools/SVN/SVN/obj/*.props
/Tools/SVN/SVN/obj/*.targets
/Tools/SVN/SVN/obj/*.cache
/Tools/SVN/.vs/SVN/DesignTimeBuild/*.v2
/Tools/ExcelExporter/.vs/ExcelExporter/v16/*.suo
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.cs
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.cache
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.resources
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.txt
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporter/obj/*.json
/Tools/ExcelExporter/obj/*.props
/Tools/ExcelExporter/obj/*.targets
/Tools/ExcelExporter/obj/*.cache
/Tools/SVN/bin/Debug/netcoreapp3.1/*.json
/Tools/SVN/bin/Debug/netcoreapp3.1/*.dll
/Tools/SVN/bin/Debug/netcoreapp3.1/*.exe
/Tools/SVN/bin/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Debug/netcoreapp3.1/*.cs
/Tools/SVN/obj/Debug/netcoreapp3.1/*.cache
/Tools/SVN/obj/Debug/netcoreapp3.1/*.txt
/Tools/SVN/obj/Debug/netcoreapp3.1/*.dll
/Tools/SVN/obj/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Debug/netcoreapp3.1/*.exe
/Tools/SVN/obj/*.json
/Tools/SVN/obj/*.props
/Tools/SVN/obj/*.targets
/Tools/SVN/obj/*.cache
/Tools/ExcelExporter/.vs/ExcelExporter/DesignTimeBuild/*.v2
/Tools/SVN/bin/Release/netcoreapp3.1/*.json
/Tools/SVN/bin/Release/netcoreapp3.1/*.dll
/Tools/SVN/bin/Release/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Release/netcoreapp3.1/*.cs
/Tools/SVN/obj/Release/netcoreapp3.1/*.cache
/Tools/SVN/obj/Release/netcoreapp3.1/*.txt
/Tools/SVN/obj/Release/netcoreapp3.1/*.dll
/Tools/SVN/obj/Release/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.CopyComplete
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/TempPE
/Tools/ExcelParser/.vs/ConsoleApp1/v16/*.suo
/Tools/ExcelParser/.vs/ExcelParser/v16/*.suo
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.deps.json
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.dll
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.exe
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.pdb
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.runtimeconfig.dev.json
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.runtimeconfig.json
/Tools/ExcelParser/obj/ConsoleApp1.csproj.nuget.dgspec.json
/Tools/ExcelParser/obj/ConsoleApp1.csproj.nuget.g.props
/Tools/ExcelParser/obj/ConsoleApp1.csproj.nuget.g.targets
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.assets.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.AssemblyReference.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.AssemblyInfo.cs
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.AssemblyInfoInputs.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.assets.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.csproj.AssemblyReference.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.csproj.CoreCompileInputs.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.csproj.FileListAbsolute.txt
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.dll
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.genruntimeconfig.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.pdb
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/apphost.exe
/Tools/ExcelParser/obj/ExcelParser.csproj.nuget.dgspec.json
/Tools/ExcelParser/obj/ExcelParser.csproj.nuget.g.props
/Tools/ExcelParser/obj/ExcelParser.csproj.nuget.g.targets
/Tools/ExcelParser/obj/project.assets.json
/Tools/ExcelParser/obj/project.nuget.cache
/Tools/ExcelParser/.vs/ExcelParser/DesignTimeBuild/*.v2
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/DesignTimeBuild/*.v2
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/v16/*.suo
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.cs
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.cache
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.resources
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.txt
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/TempPE/*.dll
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporterUI/obj/*.json
/Tools/ExcelExporterUI/obj/*.props
/Tools/ExcelExporterUI/obj/*.targets
/Tools/ExcelExporterUI/obj/*.cache
/Tools/BinaryOperator/bin/Debug/netcoreapp3.1/*.json
/Tools/BinaryOperator/bin/Debug/netcoreapp3.1/*.dll
/Tools/BinaryOperator/bin/Debug/netcoreapp3.1/*.pdb
/Tools/BinaryOperator/obj/*.json
/Tools/BinaryOperator/obj/*.props
/Tools/BinaryOperator/obj/*.targets
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.cs
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.cache
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.txt
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.dll
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.pdb
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.exe
/Tools/BinaryOperator/obj/*.cache
/Tools/CSharpOperator/bin/Debug/netcoreapp3.1/*.json
/Tools/CSharpOperator/bin/Debug/netcoreapp3.1/*.dll
/Tools/CSharpOperator/bin/Debug/netcoreapp3.1/*.pdb
/Tools/CSharpOperator/obj/*.json
/Tools/CSharpOperator/obj/*.props
/Tools/CSharpOperator/obj/*.targets
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.cs
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.cache
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.txt
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.dll
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.pdb
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.exe
/Tools/CSharpOperator/obj/*.cache
/Tools/CppOperator/bin/Debug/netcoreapp3.1/*.json
/Tools/CppOperator/bin/Debug/netcoreapp3.1/*.dll
/Tools/CppOperator/bin/Debug/netcoreapp3.1/*.pdb
/Tools/CppOperator/obj/*.json
/Tools/CppOperator/obj/*.props
/Tools/CppOperator/obj/*.targets
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.cs
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.cache
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.txt
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.dll
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.pdb
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.exe
/Tools/CppOperator/obj/*.cache
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/cs/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/de/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/es/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/fr/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/it/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/ja/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/ko/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/pl/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/pt-BR/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/ru/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/tr/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/zh-Hans/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/zh-Hant/*.dll
/Tools/ExcelExporter/bin/Debug/*.txt
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.CopyComplete
/Tools/BinaryOperator/obj/Debug/net5.0/*.cs
/Tools/BinaryOperator/obj/Debug/net5.0/*.cache
/Tools/BinaryOperator/obj/Debug/net5.0/*.editorconfig
/Tools/BinaryOperator/obj/*.info
/Tools/CSharpOperator/obj/Debug/netcoreapp3.1/*.editorconfig
/Tools/CSharpOperator/obj/*.info
/Tools/CppOperator/obj/Debug/netcoreapp3.1/*.editorconfig
/Tools/CppOperator/obj/*.info
/Tools/ExcelExporter/.idea/.idea.ExcelExporter/.idea/*.gitignore
/Tools/ExcelExporter/.idea/.idea.ExcelExporter/.idea/*.xml
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.editorconfig
/Tools/ExcelExporter/obj/*.info
/Tools/BinaryOperator/obj/Debug/netcoreapp3.1/*.editorconfig
/Tools/BinaryOperator/.vs/BinaryOperator/DesignTimeBuild/.dtbcache.v2
/Tools/BinaryOperator/.vs/BinaryOperator/v17/.futdcache.v2
/Tools/BinaryOperator/.vs/BinaryOperator/v17/.suo
/Tools/ExcelExporterUI/.idea/.idea.ExcelExporterUI/.idea/.gitignore
/Tools/ExcelExporterUI/.idea/.idea.ExcelExporterUI/.idea/encodings.xml
/Tools/ExcelExporterUI/.idea/.idea.ExcelExporterUI/.idea/indexLayout.xml
/Tools/ExcelExporterUI/.idea/.idea.ExcelExporterUI/.idea/vcs.xml
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/FileContentIndex/86d9f955-434c-42d9-b867-6a257119ab1b.vsidx
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/FileContentIndex/a5b591fe-7f37-4c36-bbfe-0772d784f22c.vsidx
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/FileContentIndex/read.lock
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/v17/.suo
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/ExcelExporterUI.GeneratedMSBuildEditorConfig.editorconfig
/Tools/ExcelExporterUI/obj/rider.project.restore.info
/Tools/SVN/obj/Debug/netcoreapp3.1/SVN.GeneratedMSBuildEditorConfig.editorconfig
/Tools/SVN/obj/rider.project.restore.info
