/Tools/SVN/.vs/SVN/v16/*.suo
/Tools/SVN/*.sln
/Tools/SVN/SVN/*.csproj
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.json
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.dll
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.exe
/Tools/SVN/SVN/bin/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.cs
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.cache
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.txt
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.dll
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/SVN/obj/Debug/netcoreapp3.1/*.exe
/Tools/SVN/SVN/obj/*.json
/Tools/SVN/SVN/obj/*.props
/Tools/SVN/SVN/obj/*.targets
/Tools/SVN/SVN/obj/*.cache
/Tools/SVN/.vs/SVN/DesignTimeBuild/*.v2
/Tools/ExcelExporter/.vs/ExcelExporter/v16/*.suo
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporter/bin/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.cs
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.cache
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.resources
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.txt
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporter/obj/*.json
/Tools/ExcelExporter/obj/*.props
/Tools/ExcelExporter/obj/*.targets
/Tools/ExcelExporter/obj/*.cache
/Tools/SVN/bin/Debug/netcoreapp3.1/*.json
/Tools/SVN/bin/Debug/netcoreapp3.1/*.dll
/Tools/SVN/bin/Debug/netcoreapp3.1/*.exe
/Tools/SVN/bin/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Debug/netcoreapp3.1/*.cs
/Tools/SVN/obj/Debug/netcoreapp3.1/*.cache
/Tools/SVN/obj/Debug/netcoreapp3.1/*.txt
/Tools/SVN/obj/Debug/netcoreapp3.1/*.dll
/Tools/SVN/obj/Debug/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Debug/netcoreapp3.1/*.exe
/Tools/SVN/obj/*.json
/Tools/SVN/obj/*.props
/Tools/SVN/obj/*.targets
/Tools/SVN/obj/*.cache
/Tools/ExcelExporter/.vs/ExcelExporter/DesignTimeBuild/*.v2
/Tools/SVN/bin/Release/netcoreapp3.1/*.json
/Tools/SVN/bin/Release/netcoreapp3.1/*.dll
/Tools/SVN/bin/Release/netcoreapp3.1/*.pdb
/Tools/SVN/obj/Release/netcoreapp3.1/*.cs
/Tools/SVN/obj/Release/netcoreapp3.1/*.cache
/Tools/SVN/obj/Release/netcoreapp3.1/*.txt
/Tools/SVN/obj/Release/netcoreapp3.1/*.dll
/Tools/SVN/obj/Release/netcoreapp3.1/*.pdb
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/*.CopyComplete
/Tools/ExcelExporter/obj/Debug/netcoreapp3.1/TempPE
/Tools/ExcelParser/.vs/ConsoleApp1/v16/*.suo
/Tools/ExcelParser/.vs/ExcelParser/v16/*.suo
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.deps.json
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.dll
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.exe
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.pdb
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.runtimeconfig.dev.json
/Tools/ExcelParser/bin/Debug/netcoreapp3.1/ExcelParser.runtimeconfig.json
/Tools/ExcelParser/obj/ConsoleApp1.csproj.nuget.dgspec.json
/Tools/ExcelParser/obj/ConsoleApp1.csproj.nuget.g.props
/Tools/ExcelParser/obj/ConsoleApp1.csproj.nuget.g.targets
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.assets.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.AssemblyReference.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.AssemblyInfo.cs
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.AssemblyInfoInputs.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.assets.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.csproj.AssemblyReference.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.csproj.CoreCompileInputs.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.csproj.FileListAbsolute.txt
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.dll
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.genruntimeconfig.cache
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/ExcelParser.pdb
/Tools/ExcelParser/obj/Debug/netcoreapp3.1/apphost.exe
/Tools/ExcelParser/obj/ExcelParser.csproj.nuget.dgspec.json
/Tools/ExcelParser/obj/ExcelParser.csproj.nuget.g.props
/Tools/ExcelParser/obj/ExcelParser.csproj.nuget.g.targets
/Tools/ExcelParser/obj/project.assets.json
/Tools/ExcelParser/obj/project.nuget.cache
/Tools/ExcelParser/.vs/ExcelParser/DesignTimeBuild/*.v2
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/DesignTimeBuild/*.v2
/Tools/ExcelExporterUI/.vs/ExcelExporterUI/v16/*.suo
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporterUI/bin/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.cs
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.cache
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.resources
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.txt
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.json
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.dll
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.pdb
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/TempPE/*.dll
/Tools/ExcelExporterUI/obj/Debug/netcoreapp3.1/*.exe
/Tools/ExcelExporterUI/obj/*.json
/Tools/ExcelExporterUI/obj/*.props
/Tools/ExcelExporterUI/obj/*.targets
/Tools/ExcelExporterUI/obj/*.cache
